extends layout
block content
  section#todoapp.main.style3.dark.fullscreen.content.container.big.courses
    h1 Welcome  
    center.well(style='background-color: rgba(245, 245, 245, 0.2); border-color: transparent;')
      p
        p
          span.tagline Hmmmm...Well according to my calculations, the following subjects are valuable for you to learn
        p
          - for (var i=0; i<skillSuggestions.length; i++)
            a(href="#" data-toggle="modal" data-target="#myModal") i
              span.label.label-success #{skillSuggestions[i]['SkillName']}
      p.container.container-fluid
        span.tagline Here's some courses you should check out!
        p
          - for (var i=0; i<results.length/3; i++)
            .row
              - for (var j=0; j<3; j++)
                .col-sm-3.panel.panel-defaults
                  .panel-body
                    //- img(src='#{results[i*3+j]['smallIcon']}', class="img-responsive")
                    p 
                      strong
                        //- a(href='#{results[i*3+j]['shortName']}') #{results[i*3+j]['name']}
                    //- p(class="text-justify") #{results[i*3+j]['shortDescription']}
