extends layout
block content
  section#todoapp.main.style3.fullscreen.content.container.big.courses
    h1 Course Suggestions
    center.well
      p
        p
          span.tagline Hmmmm...Well according to my calculations, the following subjects are valuable for you to learn
        p
          - for (var i=0; i<skillSuggestions.length; i++)
            a(href="#" data-toggle="modal" data-target="#myModal") i
              span.label.label-success #{skillSuggestions[i]['SkillName']}
        div.row
          div.col-xs-3
            ul#myTabs.nav.nav-pills.nav-stacked
              li.active
                a(href='#suggestions', data-toggle='pill') Suggested
              li
                a(href='#current', data-toggle='pill') Current
              li
                a(href='#completed', data-toggle='pill') Completed
              li
                a(href='#friends', data-toggle='pill') Friends & Coworkers
          // Content
          div.col-xs-9
            .tab-content
              #suggestions.tab-pane.fade-in.active
                - for (var i=0; i<results.length; i++)
                  .panel.panel-body
                    .col-sm-4.text-center.vcenter 
                      center
                        p
                            img(src='#{results[i].smallIcon}', class="img-responsive")
                    .col-sm-8.text-center.vcenter 
                      strong
                        a(href='#{results[i].shortName}', style="color: black") #{results[i].name}
                      div.text-left #{results[i].shortDescription} 
              #current.tab-pane.fade-in content Profile
                - for (var i=0; i< user.current.length; i++)
                  .panel.panel-body
                    .col-sm-4.text-center.vcenter 
                      center
                        img(src='#{user.current[i].smallIcon}', class="img-responsive")
                    .col-sm-8.text-center.vcenter 
                      strong
                        a(href='#{user.current[i].shortName}', style="color: black") #{user.current[i].name}
                      div.text-left #{user.current[i].shortDescription} 
              #completed.tab-pane.fade-in content Profile
                - for (var i=0; i< user.current.length; i++)
                  .panel.panel-body
                    .col-sm-4.text-center.vcenter 
                      center
                        img(src='#{user.completed[i].smallIcon}', class="img-responsive")
                    .col-sm-8.text-center.vcenter 
                      strong
                        a(href='#{user.completed[i].shortName}', style="color: black") #{user.completed[i].name}
                      div.text-left #{user.completed[i].shortDescription} 
              #friends.tab-pane.fade-in content Messages